# CMake build tree
/build/

# Rendered output / intermediate frames
/out/
*_frames/
*.webp
*.gif
*.mp4
*.webm
*.png

# Local H3 data / mods dropped next to the binary (never commit copyrighted data)
/build/bin/Data
/build/bin/Maps
/build/bin/Mp3
/build/bin/Mods/hota
